---
import EntryLayout from "../layouts/EntryLayout.astro";
---

<EntryLayout title="Welcome to My Portfolio Site">
  <h1 class="text-3xl">
    Welcome to <span class="text-gradient" transition:name="name">
      My Portfolio Site
    </span>
  </h1>

  <h2 class="" transition:name="projects">
    <a href="/projects">See my projects</a>
  </h2>
</EntryLayout>
