---
import EntryLayout from "../layouts/EntryLayout.astro";
---

<EntryLayout title="Home | hooliganny">
  <h1 class="text-3xl">
    Welcome to <span class="text-gradient" transition:name="name">
      my portfolio site
    </span>
  </h1>

  <h2 class="" transition:name="projects">
    <a href="/projects">Click anywhere to enter</a>
  </h2>
</EntryLayout>
