---
import MainLayout from "../layouts/MainLayout.astro";
import Shell from "../layouts/Shell.astro";
---

<MainLayout title="Welcome to My Portfolio Site's Projects">
  <h1>
    Welcome to <span class="text-gradient" transition:name="projects">
      My Projects
    </span>
  </h1>

  <h2 class="">Here is where they will go</h2>
</MainLayout>
