---
interface Props {
  name: string;
  transitionName: string;
}
const { name, transitionName } = Astro.props as Props;
---

{/* For some reason, this back button isn't persisting */}
<div id={transitionName} class="cursor-pointer text-lg py-6" transition:persist>
  {name}
</div>

<script>
  const button = document.querySelector(`#${transitionName}`);
  button?.addEventListener("click", () => {
    history.back();
  });
</script>
