---
import Avatar from "./Avatar.astro";
import NavItem from "./NavItem.tsx";
const tabs = [
  { name: "Home", href: "/", transitionName: "home" },
  {
    name: "Projects",
    href: "/projects",
    transitionName: "projects-nav",
  },
  { name: "About me", href: "/about-me", transitionName: "about" },
  { name: "Posts", href: "/posts", transitionName: "posts" },
];
---

{/* Make this a gradient or something more interesting */}
<nav
  class="w-1/6 bg-[#00635D] flex flex-col justify-between h-screen sticky top-0"
  transition:name="nav"
  transition:animate="slide"
  transition:persist
>
  {
    (
      <>
        <div>
          <figure class="flex items-center justify-center my-5">
            <a href="/">
              <Avatar />
            </a>
          </figure>
          {tabs.map((tab) => (
            <NavItem
              href={tab.href}
              name={tab.name}
              transitionName={tab.transitionName}
              transition:persist={false}
              client:only
            />
          ))}
          <div>
            {/* <Back name={"Back"} transitionName={"NavbarBack"} /> */}
          </div>
        </div>
      </>
    )
  }
</nav>
