---
import Avatar from "./Avatar.astro";
import NavItem from "./NavItem.astro";

const tabs = [
  {
    name: "Projects",
    href: "/projects",
    transitionName: "projects-nav",
  },
  { name: "About", href: "/about", transitionName: "about" },
];
---

{/* Make this a gradient or something more interesting */}
<nav
  class="theme-linear-gradient border-b-2 border-primary-purple md:border-none md:nav-border md:max-w-56 md:w-1/6 w-full h-24 md:h-screen flex items-center justify-between md:justify-normal md:flex-col sticky top-0 z-10"
>
  <a href="/" class="p-6 hover:scale-105 duration-500">
    <figure
      class="flex flex-col items-center justify-center md:my-5 md:mx-auto"
    >
      <div class="size-16 md:size-24 lg:size-32">
        <Avatar />
      </div>

      <figcaption class="text-center text-lg hidden md:block">Home</figcaption>
    </figure>
  </a>
  <div class="md:w-full mr-10 md:mr-0 flex flex-row md:flex-col gap-6">
    {
      tabs.map((tab) => (
        <NavItem
          href={tab.href}
          name={tab.name}
          transitionName={tab.transitionName}
          transition:persist={false}
        />
      ))
    }
  </div>
</nav>
