---
interface Props {
  name: string;
  href?: string;
  transitionName?: string;
}

const { href, transitionName, name } = Astro.props as Props;
const url = Astro.url.pathname;
---

<div
  class:list={[
    "py-6 text-lg",
    url.includes(href) && href !== "/" && "bg-[#13151a]",
  ]}
>
  <a
    href={href}
    {...transitionName
      ? { ["transition:name"]: { transitionName } }
      : ({} as { [key: string]: any })}
  >
    {name}
  </a>
</div>
