---
// import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import MarkdownContent from "../../components/MarkdownContent.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = async () => {
  const allProjects = await getCollection("projects");
  return allProjects.map((project) => {
    return { params: { project: project.slug } };
  });
};

const entry = await getEntry("projects", Astro?.params?.project as string);

const { Content } = (await entry?.render()) ?? {};
---

<MainLayout title={`${entry?.data.title} | hooliganny`}>
  <h2 transition:name={entry?.data.title} class="text-3xl">
    {entry?.data.title}
  </h2>
  <MarkdownContent>
    {Content && <Content />}
  </MarkdownContent>
</MainLayout>
