---
// import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = async () => {
  const allProjects = await getCollection("projects");
  return allProjects.map((project) => {
    return { params: { project: project.slug } };
  });
};

const entry = await getEntry("projects", Astro?.params?.project as string);

const { Content } = (await entry?.render()) ?? {};
---

<MainLayout title={`${entry?.data.title} | hooliganny`}>
  <h2 transition:name={entry?.data.title}>
    {entry?.data.title}
  </h2>
  <div class="flex flex-col">
    <Content />
  </div>
</MainLayout>
