---
import Back from "./Back.astro";
import NavItem from "./NavItem.astro";
const tabs = [
  {
    name: "Projects",
    href: "/projects",
    transitionName: "projects-nav",
  },
  { name: "About me", href: "/about-me", transitionName: "about" },
  { name: "Posts", href: "/posts", transitionName: "posts" },
  { name: "Home", href: "/", transitionName: "home" },
];
---

{/* Make this a gradient or something more interesting */}
<nav
  class="w-1/6 bg-[#00635D]"
  transition:name="nav"
  transition:animate="slide"
  transition:persist
>
  {
    (
      <>
        {tabs.map((tab) => (
          <NavItem
            href={tab.href}
            name={tab.name}
            transitionName={tab.transitionName}
          />
        ))}

        <Back name={"back"} />
      </>
    )
  }
</nav>
