@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white flex flex-col md:flex-row;
  }

  :root {
    --accent: rgb(136, 58, 234);
    --accent-light: rgb(224, 204, 250);
    --accent-gradient: linear-gradient(
      270deg,
      var(--accent),
      var(--accent-light) 60%,
      white 100%
    );
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
}

@layer utilities {
  .nav-border {
    border-right-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--accent), rgba(0, 0, 0, 0)) 1
      100%;
  }

  .navbar-image {
    view-transition-name: avatar;
  }
}
