@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#13151a] text-white flex flex-col md:flex-row;
  }

  :root {
    --accent: rgb(136, 58, 234);
    --accent-light: rgb(224, 204, 250);
    --accent-gradient: linear-gradient(
      270deg,
      var(--accent),
      var(--accent-light) 60%,
      white 100%
    );
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
}

@layer utilities {
  .nav-border {
    box-shadow: 0px 0px 16px 4px var(--accent);
  }

  .navbar-image {
    view-transition-name: avatar;
  }

  .primary-grid {
    --primary-grid-rgb: 0 99 93;
    --primary-grid-opacity: 0.35;

    background-image: linear-gradient(
        to right,
        rgb(var(--primary-grid-rgb) / var(--primary-grid-opacity)) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        rgb(var(--primary-grid-rgb) / var(--primary-grid-opacity)) 1px,
        transparent 1px
      );
    background-size: 5rem 5rem;
  }

  .theme-linear-gradient {
    background: linear-gradient(
      120deg,
      rgba(0, 99, 93, 1) 10%,
      #093145 60%,
      #1b1464
    );
  }
}

.link-card::before {
  content: "";
  @apply absolute w-full h-full inset-0 opacity-0 transition-all duration-500 -z-[1] theme-linear-gradient rounded-lg;
}

.link-card:hover::before {
  opacity: 1;
}

.link-card:hover .icon {
  color: white !important;
}
