---
import Navbar from "../components/Navbar/Navbar.astro";
import Shell from "../layouts/Shell.astro";

interface Props {
  title: string;
  heading?: string;
  subHeading?: string;
}

const { title, heading, subHeading } = Astro.props as Props;
---

<Shell title={title}>
  <body>
    <Navbar />
    <main class="flex flex-col container p-10 gap-12 mx-auto primary-grid">
      {
        heading && subHeading && (
          <header class="flex flex-col gap-3">
            <h2 class="text-4xl text-primary-purple">{heading}</h2>
            <h3 class="text-xl">{subHeading}</h3>
          </header>
        )
      }
      <slot />
    </main>
  </body>
</Shell>

<style>
  body {
    --primary-grid-rgb: 0 99 93;
    --primary-grid-opacity: 0.35;

    background-image: linear-gradient(
        to right,
        rgb(var(--primary-grid-rgb) / var(--primary-grid-opacity)) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        rgb(var(--primary-grid-rgb) / var(--primary-grid-opacity)) 1px,
        transparent 1px
      );
    background-size: 5rem 5rem;
  }
</style>
