---
import Sidebar from "../components/Sidebar/Sidebar.astro";
import Shell from "../layouts/Shell.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Shell title={title}>
  <body>
    <Sidebar />
    <main class="flex flex-col container p-10 gap-12">
      <slot />
    </main>
  </body>
</Shell>

<style>
  body {
    display: flex;
  }
</style>
